$black : #000000;
$light-color:#bbdab7;
$lighter-color:#e0f1dd;
$dark-color:#16620e;
$header-color:#e0f1dd;
$primary-color:#53a24a;
$white-color:#ffffff;
$dark-gray-color:#a7a6a6;
$light-gray:#c8c8c8;
$link-color:#16620e;
$body-text-color:#6c6c6c;
$hr-line-color:#eeeeee;

// btn-gradiant colors
$btn-start-color: #6ba066;
$btn-end-color: #4c8147;

$btn-hover-start-color: #6ba066;
$btn-hover-end-color: #4c8147;


$btn-start-dark-color: #2d5e29;
$btn-end-dark-color: #0e400a;

$btn-hover-dark-start-color: #0e400a;
$btn-hover-dark-end-color: #2d5e29;

$input-background-color:#ebf7e9;

